@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #053B50;
}

li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #EEEEEE;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    
}

.logo{
    cursor: pointer;
    
}

.nav__links{
    list-style: none;
    
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;

}

.nav__links li a {
    transition: all 0.3s ease 0s;
    
}

.nav__links li a:hover {
    color: #64CCC5;
}

#nav_bar_button {
    padding: 9px 25px;
    background-color: rgba(100, 204, 197, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    outline: none;
}

#nav_bar_button:hover {
    background-color: rgba(100, 204, 197, 0.8);
}


.toggle-button {
    position: absolute;
    top: 2rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: #EEEEEE;
    border-radius: 10px;
}

.mobile-header{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #EEEEEE;
    font-size: 15px;
}

.carousel-caption {
    right: 5%;       
    left: auto;      
    text-align: right;
    max-width: 50%;  
}

.carousel-caption h5 {
    font-size: 2rem; 
}

.carousel-caption p {
    font-size: 1.2rem; 
}

.carousel-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #053B50; 
    opacity: 0.7; 
    pointer-events: none; 
}

.carousel-inner {
    background-color: #053B50; 
}

.carousel-item img {
    width: 100%;
    max-height: 600px; 
    object-fit: cover;
    margin: 0 auto; 
}

.carousel-control-prev, .carousel-control-next {
    width: auto; 
    padding: 0 1%; 
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    width: 20px; 
    height: 20px;
}

#carousel-login {
    padding: 9px 25px;
    background-color: rgba(100, 204, 197, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    outline: none;
}

#carousel-login:hover {
    background-color: rgba(100, 204, 197, 0.8);
}

.section-header{
    display: flex;
    justify-content: center;
    color: #EEEEEE;
    margin: 10px 10px;
    padding: 10px 10px;
    font-size: 35px;
}

.section-sub-header{
    display: flex;
    justify-content: center;
    color: #EEEEEE;
    margin: 10px 10px;
    padding: 10px 10px;
    font-size: 20px;
}

.partner-logo {
    max-width: 5%
}

.card{
    background-color: #176B87;
}

.card-body{
    color: #EEEEEE;
}

/*Mobile version*/ 

@media (max-width: 426px) {
    .toggle-button{
        display: flex;
    }

    .nav__links{
        display: none; 
        width: 100%;
    }

    #nav_bar_button {
        display: block;
        padding: 5px 10px;
        font-size: 15px;
        width: 150px;
    }
    
    .cta{
        display: flex;
    }

    header{
        flex-direction: column;
    }

    .nav__links ul {
        flex-direction: column;
        width: 100%;
    }

    .nav__links li {
        text-align: center;
    }

    .nav__links a {
        padding: .5rem .5rem;
        line-height: 40px;
        font-size: 20px;
    }

    .nav__links.active{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin: 20px;
    }
   
    .logo{
    width: 50px;
    height: auto;
   }

   .carousel-caption {
    display: block !important;
    }

    .carousel-caption h5 {
    font-size: 15px; 
    }

    .carousel-caption p {
    font-size: 10px; 
    }

    #carousel-login {
        padding: 5px 15px;
        font-size: 10px; 
        margin-left: 100px;
    }

    .section-header {
        font-size: 25px;
    }
    
    .section-sub-header{
        font-size: 10px;
        padding: 0;
    }

    .partner-logo {
        max-width: 15%
    }

    
}


/*Tablet version*/ 
@media (min-width: 768px) and (max-width: 1024px) {
    
    header{
        display: flex;
        justify-content: flex-end;
        padding: 10px;
    }

    .nav__links li a{
        font-size: 12px;
        padding: 0px;
    }

    #nav_bar_button {
        padding: 5px 15px; 
        font-size: 10px;  
    }

    .logo, .logo a {
        width: 50px; /* Adjust to your desired size */
        height: auto; /* This maintains the aspect ratio */
        display: inline-block; /* Ensures it doesn't force a new line */
    }

    .partner-logo {
        max-width: 10%
    }

}

/*Laptop version*/ 
@media (min-width: 1024px) and (max-width: 1440px) {
    header{
        display: flex;
        justify-content: flex-end;
        padding: 10px;
        margin: 20px;
        
    }

    .nav__links li a{
        font-size: 16px;
        padding: 5px;
    }

    #nav_bar_button {
        padding: 10px 15px; 
        font-size: 15px;  
    }
}