@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #053B50;
}

li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #EEEEEE;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    
}

.logo{
    cursor: pointer;
    
}

.nav__links{
    list-style: none;
    
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;

}

.nav__links li a {
    transition: all 0.3s ease 0s;
    
}

.nav__links li a:hover {
    color: #64CCC5;
}

#nav_bar_button {
    padding: 9px 25px;
    background-color: rgba(100, 204, 197, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    outline: none;
}

#nav_bar_button:hover {
    background-color: rgba(100, 204, 197, 0.8);
}


.toggle-button {
    position: absolute;
    top: 2rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: #EEEEEE;
    border-radius: 10px;
}

.mobile-header{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #EEEEEE;
    font-size: 15px;
}
/*Mobile version*/ 

@media (max-width: 426px) {
    .toggle-button{
        display: flex;
    }

    .nav__links{
        display: none; 
        width: 100%;
    }
    
    .cta{
        display: none;
    }

    header{
        flex-direction: column;
    }

    .nav__links ul {
        flex-direction: column;
        width: 100%;
    }

    .nav__links li {
        text-align: center;
    }

    .nav__links a {
        padding: .5rem .5rem;
        line-height: 40px;
    }

    .nav__links.active{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin: 20px;
    }
   
    .logo{
    width: 50px;
    height: auto;
    
   }
}